@media screen and ( max-height: 650px ) {
  .Modale{
    width: 100%;
    height: 100%;
  }
}

.modal-title {
  font-family: 'Montserrat';
  text-align: center;
  padding-top: 5px;
  top: -50px;
}

.fa.fa-bicycle {
  color: rgb(244, 106, 3);
  font-size: 45px;
}
p.title-modal {
  text-align: center;
}

.modal-box {
  text-align: center;
  color:  rgb(244, 106, 3);
  font-family: 'Montserrat';
  font-weight: bold;
  top: -30px;
}

.text-center.pt-modale.modal-header {
  border-bottom: 0px ! important;
  z-index: 5 !important;
}

.col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
}

 .signature {
  height: 230px;
  width: 490px;
  border: 1px solid #343a40! important;
  border-radius: 8px; 
}

.ModalHeader {
  text-align: center;
  font-family: 'Montserrat';
  padding: 10px;
  padding-bottom: 0px;
}

/*bouton orange- résevation-confirmer*/
.btn.btn-danger {
  background-color:  rgb(244, 106, 3);
}

.modal-footer {
  border-top: 0px solid white !important;
}

/*Bouton croix haut/droite*/
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-header .close {
  padding-top: 20px;
}

.modal-content {
  border: 0px solid !important;
}

  
.Signature {
  padding: 10px 10px 10px 10px; 
  touch-action: none;
}

.notification-success {
  border-left: none !important;
}

/* ===== Toaster ===== */
.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 60vh ! important;
  right: 3px ! important;
  z-index: 999999;
  width: 350px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification-success {
  border-left: none !important;
}