.navbar{
    height: 75px !important;
    background: rgb(249, 249, 249);
    z-index: 4 !important;
    position: fixed !important;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0,0,0, 0.4)!important;
    
}
a.nav-link{
    color: black !important;
    cursor: pointer !important;
}
.navbar-nav{
    flex-direction: row !important;
}
.nav-link{
    display: flex !important;
    align-items: center;
}
i.fa.fa-envelope:before{
    margin: 15px !important;
    color: rgb(244, 106, 3);
}
i.fa.fa-info-circle:before{
    margin: 15px !important;
    color: rgb(244, 106, 3);
}
img.logo-Bicool{
    height: 35px !important;
}

@media screen and (max-width:768px)  {

    p.ml-3-.mt-3 {
        display: none !important;
    }
    .nav-link{
        margin: 0px !important;
        padding: 0px !important;
    }
    i.fa.fa-bicycle.fa-4x.align-middle:before{
        display: none !important;
    }
    .navbar{
        padding-top: 12px !important;
        padding-left: 12px !important;
        padding-bottom: 12px !important;
        padding-right: 12px !important;
    }

}





/* ====== charte graphique ====== 

* couleurs:

orange bicloo:        244, 106, 3
noir bicloo:          18,  18, 18
rouge pointeurs map:  214, 15, 15
vert pointeurs map:   133, 191, 40

*/